* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #000000;
  --color2: #a9a9a9;
  --color3: #4682b4;
  
}

body {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
   'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',    sans-serif;  
  -webkit-font-smoothing: antialiased;  
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: var(--color2);
  box-shadow: 0 1px 10px black;
  padding: 5px;
  border: 2px solid var(--color1);
}

header h1 {
  margin: 5px 10px;
  text-align: center;
  font-size: 4em;

}

.nav-items {
  align-items: center;
  text-align: center;
}

.nav-items li:hover, .nav-items li a:hover {
  background: var(--color3);
  color: var(--color2);
}

.nav-items li {
  list-style: none;
  padding: 5px;
  max-width: 35%;
  margin-inline: auto;
  background-color: silver;
  border: 2px solid var(--color1);
  border-radius: 5px;
  margin-top: 3px;
  font-size: 1em;
}

.nav-items li a {
  text-decoration: none;
  color: var(--color1);
}

main {
  padding-bottom: 80px;
  background-color:var(--color3);
}

.about-sec {
  background-color: var(--color2);
  max-width: 80%;
  margin-inline: auto;
  padding: 10px;
  border: 2px solid var(--color1);
  border-radius: 10px;
}

.about-sec p {
  max-width: 80%;
  margin-inline: auto;
  text-align: center;
  padding: 10px 0px 10px 0px;
}

.aboutImage {
  flex-wrap: wrap;
  display: flex;
  width: 20vw;
  height: 100%;
  justify-content: space-between;
  border-radius: 50%;
  margin-inline: auto;
}

.sec-title {
  text-align: left;
  padding: 70px 0px 20px 100px;
}

.projects {
  width: 70vw;
  margin-top: 1vh;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  justify-content: center;
}

.project:hover {
  opacity: 1;
}

.project {
  position: relative;
  box-shadow: 0 1px 10px black;
  border: 3px solid var(--color2);
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.7;
}

.project div {
  position: absolute;
  bottom: 0;
  background-color: var(--color2);
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--color1);
  align-items: center;
}

.project div p {
  font-weight: bold;
}

.project-img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.contact-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--color2);
  max-width: 50%;
  margin-inline: auto;
  padding: 10px;
  border-radius: 10px;
}

.contact-form input, .contact-form textarea {
  border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
}

.contact-form button {
  width: 100%;
  border: none;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 10px
}

.resume-list {
  margin: 30px 0px 50px 180px;
  padding: 10px;
  border: 2px solid var(--color1);
  background-color: var(--color2);
  max-width: 25%;
  border-radius: 10px;
}

.down-res a{
  text-decoration: none;
  color: var(--color1);
}

.resume-list div h2 {
  padding-bottom: 20px;
}

.resume-list div ul {
  padding-left: 50px;
  padding-bottom: 20px;
}

.resume-list div ul li {
  padding-bottom: 5px;
}

footer {
  background-color: var(--color2);
  display: flex;
  bottom: 0;
  width: 100%;
  justify-content: center;
  position: fixed;
  border: 2px solid var(--color1);
}

footer img {
  width: 100%;
  height: 7vh;
}

@media only screen and (min-width: 850px) {
  
  header {
    display: flex;
    justify-content: space-between;
  }

  .nav-items {
    display: flex;
    flex-direction: row;
  }

  .nav-items li {
    margin-right: 5px;
    font-size: 2em;
  }

  .about-sec {
    max-width: 50%;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);    
    width: 50vw;
    gap: 20px;
  }



}


